<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mela Form</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <link rel="icon" href="/images/Layer2.png">    

    <link rel="stylesheet" href="/css/styles.css">


</head>

<body>
    <div class="navc">
        
        <h1 class="name"><a class="adminLinksHeader" href="/admin/lists">BARAM BABA KA MELA</a></h1>
        <div class="adminNav">
            
           {{!-- <div class="container"> --}}
            <div class="row">
                <div class="col">
                    <a class="adminLinksHeader" href="/admin/lists/pending">Pending</a>
                 
                </div>
                <div class="col">
                <a class="adminLinksHeader" href="/admin/lists/verified">Verified</a>
                </div>
                <div class="col">
                <a class="adminLinksHeader" href="/admin/lists/ticketsInfo">Tickets</a>
                </div>
            </div>
        </div>
            
        </div>
        
    </div>