 {{>header}}
 
 <div class="container">
        <a href="/register"><button class="btn btn-danger btn-new">NEW FORM</button></a>
        <a href="/login"><button class="btn btn-outline-danger btn-old">EXISTING USER</button></a>
    </div>

    <p class="userContactHeader">Contact 7002285265 for support</p>

{{>footer}}