{{>header}}
 
<div class="container d-flex h-100 p-3 mx-auto flex-column">

      <main role="main" class="inner cover ">
        <h1 class="cover-heading margin-regist-page">Congratulations</h1>
        <p class="lead margin-regist-page-2">We have recieved your donation!</p>
        <p class="lead">Kindly collect the Receipt copy from committee if you have not collected already.</p>
      </main>

      <footer class="mastfoot mt-auto margin-regist-page">
        <div class="inner">
          <p class="margin-regist-page">For more information contact at 7002285265</p>
        </div>
      </footer>
    </div>

{{>footer}}